<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <mat-form-field appearance='outline' class="search-tv-show" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="40" fxFlex.md="40" fxFlex.sm="40"
    fxFlex.xs='60'>
    <input type="text" placeholder="Add a tv-show..." matInput [formControl]='tvShowSearchInputControl' [matAutocomplete]='auto'>
    <mat-icon matSuffix>tv</mat-icon>
  </mat-form-field>
  <mat-autocomplete #auto='matAutocomplete' (optionSelected)='searchResultSelected($event)' [displayWith]="searchDisplayFunction">
    <mat-option *ngFor='let tvShow of tvShowResults$ | async' [value]='tvShow'>
      <div fxLayout="row" fxLayoutAlign="start center">
        <img src="https://image.tmdb.org/t/p/w92/{{tvShow.poster_path}}" class="search-poster">
        <div class="search-details">
          <h4>{{tvShow.name}}</h4>
          <div>from {{tvShow.first_air_date | date}}</div>
          <div>Rating: {{tvShow.vote_average}}</div>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
  <button mat-icon-button color='warn' class="delete-button" (click)='deleteList()' fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="10"
    fxFlex.sm="10" fxFlex.xs='10'>
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch">
  <div *ngFor="let tvShow of tvShows$ | async" fxFlex.xl="10" fxFlex.lg="15" fxFlex.md="30" fxFlex.sm="40">
    <kpd-tv-show [tvShow]="tvShow" (tvShowDeleted)="deleteTvShow($event)"></kpd-tv-show>
  </div>
</div>