<mat-form-field appearance='outline' class="search-movie" fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="40" fxFlex.md="40" fxFlex.sm="40"
  fxFlex.xs='60'>
  <input type="text" placeholder="Add a movie..." matInput [formControl]='movieSearchInputControl' [matAutocomplete]='auto'>
  <mat-icon matSuffix>movie</mat-icon>
</mat-form-field>
<mat-autocomplete #auto='matAutocomplete' (optionSelected)='searchResultSelected($event)' [displayWith]="searchDisplayFunction">
  <mat-option *ngFor='let movie of movieResults$ | async' [value]='movie'>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="https://image.tmdb.org/t/p/w92/{{movie.poster_path}}" class="search-poster">
      <div class="search-details">
        <h4>{{movie.title}}</h4>
        <div>from {{movie.release_date | date}}</div>
        <div>Rating: {{movie.vote_average}}</div>
      </div>
    </div>
  </mat-option>
</mat-autocomplete>