.delete-button {
  margin: 8px;
}

.search-poster {
  margin-right: 8px;
}

.search-details {
  padding: 8px;
  line-height: 24px;
}

mat-option {
  height: 170px;
}

mat-form-field {
  padding: 8px;
}
