<mat-card *ngIf="movies$ | async as movies">
  <mat-card-header>
    <mat-card-title>
      <h2>{{movieList.name}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Movies in list: {{ movies.length }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Movies">
        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
          <kpd-movie-search (addMovieToList)="onAddMovieToList($event)"></kpd-movie-search>
          <button mat-icon-button color='warn' class="delete-button" (click)='onDeleteList()' fxFlex.xl="5" fxFlex.lg="5" fxFlex.md="10"
            fxFlex.sm="10" fxFlex.xs='10'>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <kpd-list-items [movies]="movies"></kpd-list-items>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>