<mat-card *ngIf="movies$ | async as movies">
  <button mat-button color="warn" (click)='onDeleteList()' class="delete-button">
    <mat-icon>delete</mat-icon> Delete list
  </button>
  <mat-card-header>
    <mat-card-title>
      <h2>{{currentMovieList.name}}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Movies in list: {{ movies.length }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Movies">
        <div>
          <mat-button-toggle-group [value]='displayMode$ | async' (change)='onDisplayModeChanged($event)'>
            <mat-button-toggle [value]="displayModes.Grid">
              <mat-icon>grid_on</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="displayModes.List">
              <mat-icon>list</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
          <kpd-movie-search (addMovieToList)="onAddMovieToList($event)" fxFlex.xl="30" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="70"></kpd-movie-search>
        </div>
        <kpd-list-items *ngIf='movies.length' [movies]="movies" (removeMovieFromList)="deleteMovie($event)"></kpd-list-items>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>