@import '../../../_variables.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 280px;
    padding: 2rem;

    div.title {
      font-size: 24px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    form {
      display: flex;
      flex-direction: column;

      .error {
        color: $warn;
        margin: 8px 0;
      }

      .form-error {
        color: $warn;
      }

      button {
        margin-top: 1rem;
      }

      a.register-link {
        text-decoration: none;
        color: #b9b9b9;
        font-size: 12px;
        margin: 8px 0;

        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
