@import 'node_modules/@angular/material/theming';

@include mat-core();

$keepadoo-theme-primary: mat-palette($mat-gray, 900);
$keepadoo-theme-accent: mat-palette($mat-lime, A700);
$keepadoo-theme-warn: mat-palette($mat-red);

$keepadoo-theme: mat-dark-theme(
  $keepadoo-theme-primary,
  $keepadoo-theme-accent,
  $keepadoo-theme-warn
);

@include angular-material-theme($keepadoo-theme);
