@import 'node_modules/@angular/material/theming';

@include mat-core();

$keepadoo-theme-primary: mat-palette($mat-blue);
$keepadoo-theme-accent: mat-palette($mat-yellow);
$keepadoo-theme-warn: mat-palette($mat-red);

$keepadoo-theme: mat-light-theme(
  $keepadoo-theme-primary,
  $keepadoo-theme-accent,
  $keepadoo-theme-warn
);

@include angular-material-theme($keepadoo-theme);
